<!-- Create a form for the object named @article,
refer to the from by the name f and add the following
elements to the form -->
<%= form_for(@article) do |f| %>
	<ul>
	<% @article.errors.full_messages.each do |error| %>
		<li><%= error %></li>
	<% end %>
	</ul>

	<p>
		<%= f.label :title %> <br>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :body %> <br>
		<%= f.text_area :body %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>

<%= link_to "Back", articles_path %>